<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284278863668-3e2p3a4et6a25dv1n597ve5p1c2llmbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284278863668-3e2p3a4et6a25dv1n597ve5p1c2llmbv</string>
	<key>API_KEY</key>
	<string>AIzaSyAz2QoVYAmWIUpiu_SkX2YJfIg4MDIBaUY</string>
	<key>GCM_SENDER_ID</key>
	<string>284278863668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kacperp.gymlog</string>
	<key>PROJECT_ID</key>
	<string>gymlog-95699</string>
	<key>STORAGE_BUCKET</key>
	<string>gymlog-95699.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284278863668:ios:7855dfd8bfca2335891761</string>
</dict>
</plist>